<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lostblackknight.admin.mapper.UserLoginLogMapper">

    <resultMap id="BaseResultMap" type="io.github.lostblackknight.model.entity.admin.UserLoginLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,ip,
        login_time
    </sql>
</mapper>
